{% extends 'base.html' %}

{% block content %}
        <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">{{cat}}</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Category Page</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                    {%for product in cat_items%}
                    <div class="col mb-5">
                        <div class="card" style="margin: 15px;"> 
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <p style="display: none;">{{ product.id }}</p>
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{product.name}}</h5>
                                    <!-- Product price-->
                                     &#8362;{{product.price}}
                                    <br>
                                    {{product.catName}}
                                    <br>
                                    {{product.unit}}
                                    <br>
                                     <a class="btn btn-outline-dark mt-auto" href="{{ url_for('edit_product', product_id= product.id) }}">עדכן פריט</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor%}

            </div>
            </div>
        </section>
    {% endblock %}
