{% extends 'base.html' %}

{% block content %}
<div class="justify-content-center">
    {% for product in products%} 
                    <div class="" >
                            <h5 class="-header">{{product.name}}</h5>
                            <div class="-body"></div>
                            <p class="-title">{{product['unit']}}</p>                            
                            &#8362; {{ product['price'] or "0.00" }}
                              <br>
                            <a href="{{ url_for('index') }}" class="btn btn-primary">Home</a>
                        </div>
                    </div>
    {% endfor%}

</div>

{% endblock %}